body {
    background-image: url(../Images/marvel.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.rect_text {
    padding-left: 1rem;
    font-size: 18px;
    color: rgb(255, 255, 255);

}

.header {
    text-align: center;
    padding: 0 0 1rem 1rem;
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;

}

.pname {
    padding-left: 1rem;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin:1rem 0 0 0;
}

.rectangle {
    margin-top: 2.5rem;
    background-color: rgba(95, 82, 82, 0.397);
    border: 1px solid rgb(46, 46, 46);
    border-radius: 4px;
    width:900px;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5)
}

.home{
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px; 
    color: white; 
    padding: 12px 16px; 
    font-size: 30px; 
    cursor: pointer;
    margin-left: 0.5rem;
    position: absolute;
}

.home:hover, .back:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%
}

#pic {
    border: 1px solid rgb(22, 7, 22);
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}