body {
    background-image: url(../Images/marvel.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.gallery {
    margin-top: 4.5rem;
    border: 2px solid black;
}

.gallery img {
    width: 312px;
}

.home, .back {
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px; 
    color: white; 
    padding: 12px 16px; 
    font-size: 30px; 
    cursor: pointer;
    margin-left: .5rem;
    margin-bottom: 10rem;
    position: absolute;
    margin-top: 2rem;
}

.home:hover, .back:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%
}

.comics_header {
    color: white;
    font-size: 42px;
    text-align: center;
    text-decoration: underline;
}

.comics {
    border-top: white 4px solid;
    border-bottom: white 4px solid;
    padding: 1rem;
}

.title {
    font-size: 128px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.upper_part {
    margin: 0;
    padding: 0;
}