body {
    background-image: url(../Images/marvel.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.desc {
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    font-size: 22px;    
}

.third {
    border: 1px solid pink;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
    margin-top: 7rem;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    height: 300px;
    width: 500px;
}

.home, .back {
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px; 
    color: white; 
    padding: 12px 16px; 
    font-size: 30px; 
    cursor: pointer;
    margin-left: .5rem;
    position: absolute;
    margin-top: 2rem;
}

.home:hover, .back:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%
}

.title {
    font-size: 128px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.upper_part {
    margin: 0;
    padding: 0;
    border-bottom: 3px solid white;
}