body {
    background-image: url(../Images/marvel.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-size: 128px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.subtitle {
    font-size: 64px;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.hulksmash_rect {
    background-color: rgba(112, 111, 105, 0.397);
    border: 1px solid rgba(196, 192, 192, 0.397);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}

.hulksmash_rect img {
    margin: 20px 20px 32px 96px;
    height: 70%;
    width: 80%;
}

.rect_text {
    padding-left: 16px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.question_rect {
    margin-top: 36px;
    background-color: rgba(112, 111, 105, 0.397);
    border: 1px solid rgba(196, 192, 192, 0.397);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}

.question {
    padding-left: 16px;
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.answers {
    margin-bottom: 15px;
    margin-left: 32px;
}

::q_1text {
    color: black;
}


#add:hover {
    width: 75%;
    color: #f1f1f1;
    background-color: black;
    background-color: black;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
}

.submit {
    width: 100px;
    background-color: rgb(34, 34, 34);
    transition: background-color 1s linear;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 18px 6px 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 16px;
    margin-left: 27.5rem;    
}

.submit:hover {
    color: #f1f1f1;
    background-color: black;
    background-color: black;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
    font-weight: bold;
}

.home {
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
    margin-left: .5rem;
    text-align: center center;
    position: absolute;
    margin-top: 2rem;
}
 
.home:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%;
}