body {
    background-image: url(../Images/marvel.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-size: 128px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.home {
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
    margin-left: .5rem;
    text-align: center center;
    position: absolute;
    margin-top: 2rem;
}
 
.home:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 400px;
    margin-top: 3rem;
    transition: 0.32s linear;
}
 
div.gallery:hover {
    border: 1px solid #777;
    text-decoration: underline;
    color: white;
}
 
div.gallery img {
    height: 250px;
    width: 400px;
}

.desc {
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#avengers {
    margin-top: 2.5rem;
    background-color: rgba(190, 140, 140, 0.397);
    border: 1px solid rgb(46, 46, 46);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}

.subtitle {
    color: white;
    font-size: 22px;
    padding: 0;
    margin: 0 0 2px 1rem;
    text-decoration: none;
}

.subtitle:hover{
    text-decoration: underline;
    color: grey;
    cursor: pointer;
}

.chapter_title {
    margin-top: 1.5rem;
    text-decoration: underline;
    font-size: 38px;
    text-align: center;
    color: white;
}

#guard_galaxy {
    margin-top: 5rem;
    background-color: rgba(185, 194, 223, 0.397);
    border: 1px solid rgba(196, 192, 192, 0.397);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}

#xmen {
    margin-top: 7rem;
    background-color: rgba(223, 217, 185, 0.397);
    border: 1px solid rgba(196, 192, 192, 0.397);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}

#four {
    margin-top: 10rem;
    background-color: rgba(185, 212, 223, 0.397);
    border: 1px solid rgba(196, 192, 192, 0.397);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}

#other {
    margin-top: 16rem;
    background-color: rgba(186, 223, 185, 0.397);
    border: 1px solid rgba(196, 192, 192, 0.397);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}

#bad {
    margin-top: 13rem;
    background-color: rgba(104, 110, 103, 0.397);
    border: 1px solid rgba(196, 192, 192, 0.397);
    border-radius: 4px;
    width: 100%;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5);
}