body {
    background-image: url(../Images/hulk.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.rectangle {
    margin-top: 2.5rem;
    background-color: rgba(95, 82, 82, 0.397);
    border: 1px solid rgb(46, 46, 46);
    border-radius: 4px;
    width:900px;
    height:100%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5)
}

.row {
    clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 1px;
}

.rect_text {
    padding-left: 1rem;
    font-size: 18px;
    color: rgb(255, 255, 255);

}

.header {
    text-align: center;
    padding: 0 0 1rem 1rem;
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;

}

.pname {
    padding-left: 1rem;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin:1rem 0 0 0;
}

.images #war{
    border:5px solid  rgb(21, 56, 0);
    background-color: rgba(0, 0, 0, 0);
    margin-left: 6rem;
    margin-top: 210rem;
    position: absolute;
    width: 250px;
    height: 250px;
}

.images #hulk{
    border: 5px solid rgb(21, 56, 0);
    background-color: rgba(0, 0, 0, 0);
    margin-left: 8rem;
    margin-top: 44rem;
    position: absolute;
    width: 200px;
    height: 200px;
}

.images #bruce{
    border: 5px solid rgb(21, 56, 0);
    background-color: rgba(0, 0, 0, 0);
    margin-left: 6rem;
    margin-top: 345rem;
    position: absolute;
    width: 270px;
    height: 200px;
}

.home{
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 0.5rem;
    position: absolute;
}

.home:hover, .back:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%
}

.back{
  background-color:rgb(22, 22, 22);
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  padding: 12px 16px;
  font-size: 30px;
  cursor: pointer;
  margin-left: 0.5rem;
  position: absolute;
}
