body {
    background-image: url(../Images/marvel.jpg);
    background-attachment: fixed;
}
.home {
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
    margin-left: .5rem;
    text-align: center center;
    position: absolute;
    margin-top: 2rem;
}
 
.home:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%;
}
 
.desc {
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    font-size: 22px;    
}
 
.second {
    border: 1px solid pink;
}
 
.row {
    display: flex;
    flex-wrap: wrap;
}
 
/*---- responsive design -----*/
.flex-buttons {
    flex: 5%
}
 
.first-col {
    flex: 45.5%;
    padding-left: 12%;
    text-align: center center;
}
 
.second-col {
    flex: 45.5%;
    padding-left: 10%;
    text-align: center center;
}
 
@media screen and (max-width: 700px) {
    .row, .first-col, .second-col {
        flex-direction: column;
    }
 
    .second-col {
        align-content: right;
    }

    background: no-repeat center center fixed;
}
/*-----------*/
 
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    width: 500px;
    margin-top: 3rem;
    filter: blur(2.5px);
    transition: 0.32s linear;
}
 
div.gallery:hover {
    border: 1px solid #777;
    filter: none;
}
 
div.gallery img {
    height: 300px;
    width: 500px;
}

.title {
    font-size: 128px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.upper_part {
    margin: 0;
    padding: 0;
}

.movie_header {
    color: white;
    font-size: 42px;
    text-align: center;
    text-decoration: underline;
}

.avengers {
    border-top: white 4px solid;
    border-bottom: white 4px solid;
    padding: 1rem;
}