#pic {
    margin-top: 7rem;
    border: 1px solid rgb(22, 7, 22);
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.rectangle {
    margin-top: 2.5rem;
    background-color: rgba(95, 82, 82, 0.7);
    border: 1px solid rgb(46, 46, 46);
    border-radius: 4px;
    width:900px;
    height:80.3%;
    box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5)
}

.rect_text {
    padding-left: 1rem;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin:1rem 0 0 0;

}

.header {
    text-align: center;
    padding: 0 0 1rem 1rem;
    font-size: 46px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
}

.pname {
    padding-left: 1rem;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin:1rem 0 0 0;
}

.special_text {
    padding-left: 1rem;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin:1rem 0 0 0;
    text-decoration: underline;
    font-weight: bold;
}

.home, .back {
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 0.5rem;
    position: absolute;
}

.home:hover, .back:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%
}

.back {
    margin: 4rem;
}

body {
  background-size: cover;
}
