#youtube {
    width: 30px;
    height:30px;
    bottom: 20px;
    position: fixed;
    border-radius: 25%;
  }
  #youtube:hover {
      opacity: 0.7;
      cursor: pointer;
  }

  #face {
    margin-left: 50px;
    width: 30px;
    height:30px;
    bottom: 20px;
    position: fixed;
    border-radius: 25%;
  }
  #facefacebook:hover {
      opacity: 0.7;
      cursor: pointer;
  }

  #instagram {
    margin-left: 100px;
    width: 30px;
    height:30px;
    bottom: 20px;
    position: fixed;
    border-radius: 25%;
  }
#instagram:hover {
      opacity: 0.7;
      cursor: pointer;
}

.social {
      float: right;
}
