body {
    background-color:white;
    background-image: url(../Images/Slidedshow/YPBnXKE.jpg);
    background-size: cover;
    background-color: grey;
    background-repeat:no-repeat;
    background-attachment: fixed;

}
img {
    vertical-align: middle;
}

#backSound {
  width: 203px;
  float:right;
}

.row {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-2_5{width: 20.825%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 1px;
}

 .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    padding-top: 20px;
    transition: background-color 1s linear;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 4px;
  }

  .sidenav a {
    padding: 6px 18px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 80%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    width: 60%;
  }

  .sidenav a:hover{
    color: #f1f1f1;
    background-color: black;
    background-color: black;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
    font-weight: bold;
  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
    color: white;
  }
  .fa-search {
    float: right;
    padding-right: 2rem;
    color: white;
  }

#current {
    background-color: black;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
    margin-left: 1rem;
    width: 60%;
}

#searchbar {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 22px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    padding-left: 9px;
}

::placeholder {
    color: white;
    opacity: 1;
}

#searchbar:hover {
    color: #f1f1f1;
    background-color: black;
    background-color: black;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
}

.fa-search {
    margin-top: 19px;
}

* {box-sizing:border-box}

.slideshow {
  width: 1100px;
  height: 620px;
  position: relative;
  border: 3px solid black;
  margin-left: 16px;
}

.slides {
    display: none;
}

.buttonNextSlide {
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.0);
}

#youtube {
    width: 30px;
    height:30px;
    bottom: 20px;
    position: fixed;
    border-radius: 25%;
  }
  #youtube:hover {
      opacity: 0.7;
      cursor: pointer;
  }

  #face {
    margin-left: 50px;
    width: 30px;
    height:30px;
    bottom: 20px;
    position: fixed;
    border-radius: 25%;
  }
  #facefacebook:hover {
      opacity: 0.7;
      cursor: pointer;
  }

  #instagram {
    margin-left: 100px;
    width: 30px;
    height:30px;
    bottom: 20px;
    position: fixed;
    border-radius: 25%;
  }
#instagram:hover {
      opacity: 0.7;
      cursor: pointer;
}

.social {
      float: right;
}

#register, #login {
    text-decoration: none;
    width: 100px;
    background-color: rgb(34, 34, 34);
    transition: background-color 1s linear;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 18px 6px 16px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 3px;

}

#login:hover, #register:hover {
    color: #f1f1f1;
    background-color: black;
    background-color: black;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
    font-weight: bold;
}

.main_text {
  text-align:justify;
  font-size: 22px;
  color: white
}

.rect {
  margin: 40px 0 5px 100px;
  background-color: rgba(95, 82, 82, 0.397);
  border: 1px solid rgb(46, 46, 46);
  border-radius: 4px;
  width:100%;
  height:100%;
  box-shadow: 10px 10px 50px rgba(150, 150, 150, 0.5)
}

.title {
  font-size: 44px;
  color: white;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  margin-left: 16px;
  font-size: 24px;
  color: white;
}

.text {
  margin-left: 16px;
  font-size: 22px;
  color: white;
}

.subtitle_subtitle {
  margin-left: 16px;
  font-size: 22px;
  color: white;
  font-weight: bold;
}
