body {
    background-attachment: fixed;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 11rem;
  border: 3px solid black;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  border-radius: 0 3px 3px 0;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.7)
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

h1 {
    text-align: center;
    padding: 0 0 1rem 1rem;
    font-size: 46px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    text-align: center;
    padding: 0 0 1rem 1rem;
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.home, .back {
    background-color:rgb(22, 22, 22);
    border: 1px solid black;
    border-radius: 3px; 
    color: white; 
    padding: 12px 16px; 
    font-size: 30px; 
    cursor: pointer;
    margin-left: 0.5rem;
    position: absolute;
}

.home:hover, .back:hover {
    background-color: rgb(68, 68, 68);
    font-size: 250%
}